CompileFlags:
  Add:
    - '-Iyour_compiler_path\arm-none-eabi\include'
  CompilationDatabase: build/Release
Index:
  Background: Build
Completion:
  AllScopes: true
InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true
